.sections {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin: 50px;
}

.sectionLeft {
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
  padding-top: 20px;
  justify-content: space-between;
}

.sectionRight {
  border-left: 1px solid #ccc;
  padding-left: 20px;
  padding-top: 20px;
}

.imgSectionLeft {
  width: 500px;
  height: 350px;
  cursor: pointer;
}

.imgSectionRight {
  width: 300px;
  height: 200px;
  cursor: pointer;
}

.textRight {
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
}

.articlesRight,
.articlesLeft {
  display: flex;
  flex-direction: column;
}

p {
  margin-top: 15px;
  margin-right: 10px;
}

h1,
h2,
h3 {
  margin-right: 10px;
  margin-top: 12px;
}

/* ----------------------------Tablet Styles------------------- */

@media only screen and (min-width: 401px) and (max-width: 1025px) {
  .sectionRight {
    display: none;
  }

  .sections {
    display: flex;
  }
}

/* -------------------------- Mobile Styles ------------------- */
@media only screen and (max-width: 400px) {
  .sectionRight {
    display: none;
  }

  .sections {
    display: flex;
  }

  .sectionLeft {
    display: flex;
    flex-direction: column;
  }

  .imgSectionLeft {
    width: auto;
    height: 200px;
  }

  p {
    margin-bottom: 20px;
    font-size: 14px;
  }

  h1,
  h2,
  h3 {
    font-size: 20px;
  }
}
