* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

/* ----------- SCROLL BAR -------------*/


::-webkit-scrollbar {
  width: 8px;
  border-radius: .25rem;
}

::-webkit-scrollbar-track {
  background:  #ccc;
}

::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #202020;
}

body {
  font-family: "Georgia", serif;
  -webkit-user-select: none;
  -moz-user-select: none;    
  -ms-user-select: none;    
  user-select: none;        
}
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

span {
  font-size: 10px;
  display: flex;
  color: #9f9e9e;
}
